.fred {
    display: inline;
    
}

.icons {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.icon {
    width: 60px;
    height: 60px;
    text-align: center;
    
}
.icon img{
    object-fit: contain;
    width:75%;
    height: 75%;
}

footer {
   align-content: center;
   justify-content: center;
   display: flex;
   margin-top: 250px;

  }