html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  




.fred {
    display: inline;
    
}

.icons {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.icon {
    width: 60px;
    height: 60px;
    text-align: center;
    
}
.icon img{
    object-fit: contain;
    width:75%;
    height: 75%;
}

footer > div {
   align-content: center;
   justify-content: center;
   display: flex;
   margin-top: 250px;

  }