.form {
  margin: 20px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.form input {
  /* display: block; */
  /* margin-top: 5px 50px 5px 50px; */
  width: 20%;
  
}

h1 {
  text-align: center;
}
